/* ----------------------------Menu------------------ */
.menu .item1 a{
    background:#438FFD;
    color: #ffffff;
}

.menu .item1 a:hover{
    background: #ffffff;
    color: #438FFD;
}

.menu li.item6 a{
    width: 187px; 

    background: #ffffff;
    color: #438FFD;
}

/* ------------------แบบแสดง--------------- */
.menu .item4 ul{
    margin-top: 10px;
    margin-left: -10px;
    position: absolute;

    /* display: none; */
}

/* .menu .item4:hover ul{

    display: block;
} */

/* ----------------------------content----------------------- */

.container-management{
     /* border: 1px solid red; */
    width: 1638px;
height: 700px;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(121, 136, 151, 0.2);
    border-radius: 6px;
}

.top-management{
    display: flex;
    margin: 20px;
    border: 1px solid blue;
}

.menu-name{
    font-weight: 600;
    font-size: 25px;

    color: #424656;
}

.topic-name{
    /* margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 25px; */
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    display: flex;
    flex-direction: row;
    align-self: center;
    
    color: #424656;

    border: 1px solid red;
}

.search-info{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: flex-end;    
    width: 1420.63px;
    justify-content: flex-end;

    border: 1px solid olive;
}

.search-info input{
    width: 219px;
    height: 30px;

    color: #798897;
    background: #FFFFFF;
    border: 1px solid #8190BB;
    border-radius: 10px;

    padding-left: 10px;
    margin-right: 10px;
}

.search-info button.item1{
    font-weight: 500;
    font-size: 12px;

    background: #FFFFFF;
    color: #438FFD;
    border: 1.5px solid #438FFD;
    border-radius: 10px;
    padding: 3.5px 33px ;
    margin-right: 40px;
}

.search-info button.item2{
    font-weight: 500;
    font-size: 12px;

    background: #438FFD;
    color: #FFFFFF;
    border: 1.5px solid #438FFD;
    border-radius: 10px;
    padding: 3.5px 33px ;
}

/* ------------table-------------- */
/* .flex-table-tag{
   border: 1px solid green;
} */

.table-tag{
    border-collapse: collapse;
    margin-left: 20px;
    font-size: 0.9em;
    width: 1587px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.table-tag thead tr {
    background: rgba(129, 144, 187, 0.2);
    border-radius: 4px;
    color: #424656;
    text-align: left;
    font-weight: bold;
}

.table-tag th,
.table-tag td {
  padding: 7px 5px;
}

.table-tag tbody tr {
    color: #424656;
    border-bottom: 1px solid #dddddd;
}